<h1>Listado duas</h1>

<table>
  <thead>
    <tr>
      <th>Dua</th>
    </tr>
  </thead>

  <tbody>
    <% @registro.duas.each do |dua| %>
      <tr>
        <td><%= dua.dua %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

