<h1>Changeyear#change</h1>
<p>Find me in app/views/changeyear/change.html.erb</p>




<%= form_tag fixyear_path,  method: "get", class:"form-horizontal" do  %>
<%= select_tag "year", options_for_select(2012..2050 , 2013), class:"form-control" %>
<div class="actions">
  <%= submit_tag nil, {class:"btn btn-default"} %>
</div>
<% end %>
