/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.panel{
	overflow: auto;
}
body > div.container-fluid.col-md-12 > div.panel.panel-default > div.panel-heading > h4 > a.btn.btn-primary,
#new_registro > div:nth-child(2) > div:nth-child(1) > div > span, #edit_registro_49 > div:nth-child(2) > div:nth-child(1) > div > span{
	color: white;
}

.listElementos{
	padding: 1em;
}
.listElementos > li{
	padding-bottom: 0.5em;
}

.listElementos > li span.valor{
	padding-left: 2em;
}


ul{
	list-style-type: none;
}
