hola

<div id="filterrific_results" >
  <div class="page-header">
    <h1>Listado Registros</h1>
  </div>
  
  
  
 
  <br>
 
  <br/>
  <%#= @registros.length %>
    
  <div class="panel panel-default">
  <div class="table-responsive ">
  <table cellspacing="0px" cellpadding="0px">
    <thead>
      <tr style="border:1px solid black;">
        <th style="width:5%;">Numero</th>
        <th style="width:5%;">Tipo</th>
        <th style="width:14%;">Fecha</th>
        <th style="width:19%;">Cliente</th>
        <th style="width:14%;">AT</th>
        <th style="width:14%;">Comisi&oacute;n</th>
        <th style="width:14%;">ENS</th>
      </tr>
    </thead>

    <tbody>
      <% @registros.each do |registro| %>
      <tr >
        <td style="border-bottom:1px solid black; padding:1em; width:5%;  text-aling:center;"><%= registro.mostrarNumero %></td>
        <td style="border-bottom:1px solid black; padding:1em; width:5%;  text-aling:center;"><%= registro.tipo %></td>
        <td style="border-bottom:1px solid black; padding:1em; width:14%; text-aling:center; "><%= registro.fecha %></td>
        <td style="border-bottom:1px solid black; padding:1em; width:19%; "><%= registro.cliente.nombre %></td>
        <td style="border-bottom:1px solid black; padding:1em; width:14%; "></td>
        <td style="border-bottom:1px solid black; padding:1em; width:14%; "></td>
        <td style="border-bottom:1px solid black; padding:1em; width:14%; "></td>
        
        
      </tr>
      <% end %>

    </tbody>
  </table>
  </div>
</div>




  

</div>